# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Build
build/

# Logs
*.log

# Java
*.class

# Arquivos locais de configuração
src/main/resources/application-local.properties

# Arquivos do sistema
.DS_Store
Thumbs.db